/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

body {
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(img/denys-nevozhai-7nrsVjvALnA-unsplash.jpg);
  background-size: cover;
}

/* Header and Navigation Bar */
header {
  background-color: #ffffff; /* Navbar background color */
  text-align: center;
  color: #747578;
  padding: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 50px;
}

nav li {
  margin-right: 36px;
  cursor: pointer;
}

nav li a {
  color: #747578;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: #ff7900;
}

/* Logo */
.navbar-logo {
  height: 55px; /* Adjust as needed */
  margin-right: 20px; /* Spacing between logo and nav items */
}

/* Update the nav style to align items */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensures the user-info block is treated as a single item with internal line breaks */
.user-info {
  display: flex;
  flex-direction: column; /* Stacks child divs vertically */
  align-items: center; /* Centers the content */
  width: 285px;
  margin-top: 20px;
}

.user-info div {
  margin: 1px 0; /* Small vertical space between the two lines */
}

.user-name, .user-organization, .logout-link {
  font-size: 12px; /* Adjust font size as needed */
}

.logout-link {
  text-decoration: underline; /* Makes it clear that this is a clickable link */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.logout-link:hover {
  color: #ff7900; /* Hover effect to match other nav items */
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the start of the flex container */
  margin-bottom: 30px;
  margin-top: 30px;
}

.track-commute-header {
  margin-top: 30px;
  color: #8ED400;
}

.track-commute-header1 {
  margin-top: 30px;
  color: #ff7900;
}

.commute-info p {
  color: #ffffff; /* Replace #yourColorCode with the desired color code */
}


.text-container {
  width: 48%; /* Adjust the width as needed */
  margin-left: 130px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1px; /* Space between form elements */
  background: rgba(0, 0, 0, 0.7);
  padding: 28px;
  border-radius: 25px;
  margin: 12px;
  box-sizing: border-box; 
  margin-top: 25px;
  margin-right: 170px;
}

.form-container label,
.form-container select,
.form-container input,
.form-container button {
  width: 100%; /* Make form elements occupy the full width of the form-container */
  padding: 8px;
  margin-top: 2px;
  box-sizing: border-box;
}

.form-container label {
  color: #f1f1f1; /* Replace #desiredColor with your color code */
}

button#log-button {
  background-color: #8ED400;
  color: #ffffff; /* Darker grey for better readability */
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
  margin-top: 30px;
}

button#log-button:hover {
  background-color: #ff7900; /* Light background on hover for contrast */
  color: #ffffff; /* Orange text color to match the border */
  border: none; /* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

/* Total Impact Section */
#total-impact-title {
  color: #ffffff;
  text-align: center;
  font-size: 40px; /* Adjust this value to increase the title size */
  font-weight: bold;
  margin-bottom: 10px; /* Increase this value to lower the title relative to the columns */
}

#total-impact {
  display: flex;
  flex-direction: column; /* Ensures that items are laid out in a vertical list */
  align-items: center; /* Center align the items */
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  border-radius: 15px;
}



.impact-row {
  display: flex;
  justify-content: center; /* Center the columns horizontally */
  width: 100%;
}

.impact-item {
  width: 45%; /* Adjust the width of each item */
  margin: 10px; /* Adjust spacing between items */
  text-align: center; /* Center text within each item */
  padding: 10px;
  border-bottom: 2px solid #8ED400; /* Orange bottom border */
}

.impact-item .impact-value {
  font-size: 65px;
  color: #8ED400;
}

.impact-value:hover {
  color: #ff7900; /* Changes the font color on hover */
}



.impact-item .impact-category {
  font-size: 30px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .impact-row {
    flex-direction: column;
    align-items: center;
  }
}

.activity-log {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 30px auto;
  padding: 20px;
  width: 83%;
}

.activity-log-title {
  color: #747578;
  text-align: center;
}

.activity-log-header,
.activity-log-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 10px 0;
  color: #747578;
}

.activity-log-header {
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 10px;
}

.activity-log-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.activity-log-item {
  background-color: #ffffff; /* For better readability against the dark section background */
  margin: 5px 0; /* Space between items */
  padding: 10px;
  border-radius: 5px;
}









/* Footer */
footer {
  background-color: #ffffff;
  color: #747578;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 25px solid #ff7900;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-content > * {
  flex: 1; /* Equal space distribution */
  text-align: center;
}

/* Style the links in the footer */
.footer-content a {
  text-decoration: none;
  color: #747578;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #ff7900;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 26px;
  margin: 0 10px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button button {
  background-color: #ffffff;
  color: #747578; /* Darker grey for better readability */
  border: 5px solid #8ED400; /* Bright green for visibility */
  cursor: pointer;
  padding: 10px 15px;
  font-size: 17px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.footer-button button:hover {
  background-color: #ffffff; /* Light background on hover for contrast */
  color: #747578; /* Orange text color to match the border */
  border: 5px solid #ff7900;/* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

.footer-logo {
  height: 55px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjust styles for mobile responsiveness */
  nav ul {
      flex-direction: column;
      margin-left: 0;
  }
  nav li {
      margin-right: 0;
      margin-bottom: 10px; /* Add space between items in a column layout */
  }
  .footer-content {
      flex-direction: column;
  }
  .footer-content > * {
      margin-bottom: 20px; /* Add space between stacked items */
  }
}

@media (max-width: 768px) {
  .challenge-button {
    width: 100%; /* Full width on smaller screens */
  }
  .commuter-challenge-buttons::after {
    display: none; /* Hide pseudo-element on smaller screens */
  }
}


/* Dropdown content (hidden by default) */
.about-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  /* Adjust width and height as needed */
  width: 150px; /* Example width */
  height: auto; /* Adjust height accordingly */
  /* Add more styling properties as needed */
}

/* Links inside the dropdown */
.about-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.about-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the ABOUT button */
.about-dropdown:hover .about-dropdown-content {
  display: block;
}

/* Hide the dropdown content when moving away from the ABOUT button */
.about-dropdown-content:hover {
  display: none;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .events-list {
    grid-template-columns: 1fr; /* Stack the events in a single column on smaller screens */
  }
}



