/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Header and Navigation Bar */
header {
  background-color: #ffffff; /* Navbar background color */
  text-align: center;
  color: #747578;
  padding: 20px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}



nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 80px;
}

nav li {
  margin-right: 50px;
  cursor: pointer;
}

nav li a {
  display: inline-block;
  color: #747578;
  text-decoration: none;
  transition: all 0.6s ease;
}

nav li a:hover {
  transform: translateY(-4px); /* Slight lift effect */
  color: #ff7900;
}



/* Logo */
.navbar-logo {
  height: 55px; /* Adjust as needed */
  margin-right: 20px; /* Spacing between logo and nav items */
}

.navbar-logo:hover {
  transform: scale(1.05); /* Slightly enlarges the logo on hover */
}


/* Update the nav style to align items */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown Menu Animation */
.about-dropdown-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.about-dropdown:hover .about-dropdown-content {
  opacity: 1;
  visibility: visible;
}


/* Photo Slider */
.photo-slider {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-slider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.challenge-text {
  color: white; /* White color for the challenge text */
  font-size: 40px; /* Adjust font size as needed */
}

.date-text {
  color: #8ED400; /* Orange color for the date text */
  font-size: 40px; /* Adjust font size as needed */
}

.photo-slider .slide {
  position: relative;
  width: 100%; /* Ensures the slide takes the full width of the container */
  height: 650px;
}

.photo-slider img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.slide-overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8ED400; /* Adjust text color as needed */
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background 
  border-radius: 10px; /* Optional: adds rounded corners */
  z-index: 2; /* Ensures the overlay is above the image */
  width: 100%; /* Adjust the width as needed */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  font-weight: bold;
}

.slide-overlay p {
  text-shadow: 4px 4px 8px rgba(0,0,0,0.9);
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.2));
  z-index: 1;
}



.slide-button {
  background-color: transparent;
  color: #ffffff;
  border: 4px solid #8ED400;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: bold;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.slide-button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 4px solid #ff7900;
  transform: scale(1.1);
}

/* Events Section */
#eventsSection {
  background-color: white;
  text-align: left;
  padding: 10px;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
}

/*.events-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  gap: 40px;
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}*/

.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.event {
  flex-basis: calc(50% - 20px); /* Adjust the spacing based on the gap */
  /* Keep other styles unchanged */
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 80%;
  height: 90%;
  padding: 15px;
  text-align: center;
  margin: auto;
  border: 4px solid #b7b8bc;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
}

.event:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event img, .event i {
  height: 100px; /* Fixed height for logos */
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area */
  margin-top: 15px;
  margin-bottom: 15px;
}


.custom-icon-size {
  font-size: 100px; /* Or any size you prefer */
  color: #747578;
}

.event .event-name, .event .event-dates {
  font-size: 22px;
  color: #747578;
  margin: 5px 0;
  height: 20px;
}

.event-name, .event-dates {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


/* Ensure that all text elements have a consistent spacing and alignment */
.event p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18px; /* Minimum height for text elements */
}

/* Event Buttons */
.action-button-event {
  background-color: transparent;
  color: #ff7900;
  border: 4px solid #ff7900;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 25px;
  width: 180px;
  text-align: center;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.action-button-event:hover {
  transform: scale(1.05);
  color: #8ED400;
  border: 4px solid #8ED400;
}

/* Registration Section */
#commuterChallenge {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/priscilla-du-preez-kb4dMrBVuEU-unsplash.jpg');
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the image in the section */
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  text-align: left;
  padding: 20px;
  min-height: 500px;
  color: #ffffff;
}

.commuter-challenge-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 120px;
}

.commuter-challenge-buttons::after {
  display: none;
}


.challenge-button {
  background-color: #ffffff;
  color: #747578; /* Darker grey for better readability */
  border: 7px solid #fbe11f; /* Bright green for visibility */
  cursor: pointer;
  padding: 10px 15px;
  font-size: 22px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
}

.challenge-button:hover {
  background-color: #f0f0f0; /* Light background on hover for contrast */
  color: #747578; /* Orange text color to match the border */
  border: 7px solid #00a8e1; /* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

.challenge-button:active {
  background-color: #e0e0e0; /* Darker background for pressed effect */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Smaller shadow for pressed effect */
}

.challenge-button i {
  margin-bottom: 5px; /* Space between icon and text */
  font-size: 30px; /* Larger icon for visual appeal */
}

.challenge-button:last-child {
  flex: 1 0 auto; /* Adjust the last button to take the required space */
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 0 10px;
}

.center-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-column, .center-column {
  flex: 1 0 calc(33.3% - 20px); /* Equal width for each column, adjusting for margin */
  margin: 0 10px;
}

/* Contact Form */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-photo img {
  width: 90%;
  height: 450px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.contact-form {
  flex: 1;
  padding: 10px;
  max-width: 500px;
}

#contact {
  background-color: #f7f7f7;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}



.submit-button {
  background-color: #8ED400;
  color: #ffffff; /* Darker grey for better readability */
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #ff7900; /* Light background on hover for contrast */
  color: #ffffff; /* Orange text color to match the border */
  border: none; /* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

/* Footer */
footer {
  background-color: #ffffff;
  color: #747578;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 25px solid #ff7900;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-content > * {
  flex: 1; /* Equal space distribution */
  text-align: center;
}

.footer-content a:hover, .social-media i:hover {
  transform: scale(1.1);
  color: #E67E22; /* Orange color for interactivity */
}

/* Style the links in the footer */
.footer-content a {
  text-decoration: none;
  color: #747578;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #ff7900;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 26px;
  margin: 0 10px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button button {
  background-color: #ffffff;
  color: #747578; /* Darker grey for better readability */
  border: 5px solid #8ED400; /* Bright green for visibility */
  cursor: pointer;
  padding: 10px 15px;
  font-size: 17px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.footer-button button:hover {
  background-color: #ffffff; /* Light background on hover for contrast */
  color: #747578; /* Orange text color to match the border */
  border: 5px solid #ff7900;/* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

.footer-logo {
  height: 55px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjust styles for mobile responsiveness */
  nav ul {
      flex-direction: column;
      margin-left: 0;
  }
  nav li {
      margin-right: 0;
      margin-bottom: 10px; /* Add space between items in a column layout */
  }
  .footer-content {
      flex-direction: column;
  }
  .footer-content > * {
      margin-bottom: 20px; /* Add space between stacked items */
  }
}

@media (max-width: 768px) {
  .challenge-button {
    width: 100%; /* Full width on smaller screens */
  }
  .commuter-challenge-buttons::after {
    display: none; /* Hide pseudo-element on smaller screens */
  }
}


/* Dropdown content (hidden by default) */
.about-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  z-index: 1;/* Adjust width and height as needed */
  width: 150px; /* Example width */
  height: auto; /* Adjust height accordingly */
}

/* Links inside the dropdown */
.about-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal; 
}

/* Change color of dropdown links on hover */
.about-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the ABOUT button */
.about-dropdown:hover .about-dropdown-content {
  display: block;
}

/* Hide the dropdown content when moving away from the ABOUT button */
.about-dropdown-content:hover {
  display: none;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .events-list {
    grid-template-columns: 1fr; /* Stack the events in a single column on smaller screens */
  }
}



