/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box; /* Ensures consistent sizing */
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(img/anna-claire-schellenberg-TUTOHQEbhFk-unsplash.jpg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Header and Navigation Bar */
header {
  background-color: #ffffff;
  text-align: center;
  color: #747578;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 80px;
}

nav li {
  margin-right: 50px;
  cursor: pointer;
}

nav li a {
  color: #747578;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: #ff7900;
}

/* Logo */
.navbar-logo {
  height: 55px;
  margin-right: 20px;
}

/* Adjusted Form Container for Side-by-Side Layout */
.forms-container {
  display: flex;
  justify-content: center; /* Centers the forms within the container */
  align-items: flex-start; /* Aligns items at the start of the flex container */
  flex-wrap: wrap; /* Allows forms to wrap on smaller screens */
  width: 90%; /* Adjust width as necessary */
  max-width: 1200px; /* Ensures the container does not exceed a max width */
  margin: 20px auto; /* Centers the container and adds vertical spacing */
}

.container {
  width: 100%;
  max-width: 48%;
  background: rgba(0, 0, 0, 0.6);
  padding: 28px;
  border-radius: 25px;
  margin: 12px;
  box-sizing: border-box; 
}


.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.form-date {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 8px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px 0;
}

.user-input-box, .registration-details-box {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px); /* Adjust the subtraction value based on your desired gap */
  padding-bottom: 15px;
}

.user-input-box label, .registration-details-box {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  margin-bottom: 5px;
}

.user-input-box input, 
.user-input-box select, .registration-details-box select {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.registration-details-box, .gender-category, .form-submit-btn {
  width: 100%;
  color: white;
}

.gender-title {
  font-size: 24px;
  font-weight: 600;
}

.gender-category label, .gender-category input {
  margin-right: 10px;
}

.form-submit-btn input {
  background-color: #8ED400;
  color: #ffffff; /* Darker grey for better readability */
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.form-submit-btn input:hover {
  background-color: #ff7900; /* Light background on hover for contrast */
  color: #ffffff; /* Orange text color to match the border */
  border: none; /* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}


/* Footer */
footer {
  background-color: #ffffff;
  color: #747578;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 25px solid #ff7900;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-content > * {
  flex: 1;
  text-align: center;
}

.footer-content a {
  text-decoration: none;
  color: #747578;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #ff7900;
}

.social-media i {
  font-size: 26px;
  margin: 0 10px;
}

.footer-button button {
  background-color: #ffffff;
  color: #747578; /* Darker grey for better readability */
  border: 5px solid #8ED400; /* Bright green for visibility */
  cursor: pointer;
  padding: 10px 15px;
  font-size: 17px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.footer-button button:hover {
  background-color: #ffffff; /* Light background on hover for contrast */
  color: #747578; /* Orange text color to match the border */
  border: 5px solid #ff7900;/* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

.footer-logo {
  height: 55px;
}

/* Second Form Specific Styles */
#secondForm {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  height: 100vh; /* Adjust this to ensure it fills the desired height */
  background: rgba(0, 0, 0, 0.6); /* Assuming similar background style */
  padding: 28px;
  border-radius: 25px;
  margin: 12px;
  box-sizing: border-box;
  height: auto;
}

#secondForm .main-user-info2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  width: 100%; /* Adjust based on your preference */
}

.user-input-box2 {
  width: 80%; /* Adjust the width as necessary */
  margin-bottom: 20px; /* Adds some space between input boxes */
  color: white; /* Assuming similar text color for consistency */
}

.user-input-box2 label {
  font-size: 20px; /* Matching the style of the first form */
  margin-bottom: 5px;
}

.user-input-box2 input, 
.user-input-box2 select {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0 10px;
  background: #ffffff; /* Ensure input fields are easily visible */
}

.form-submit-btn2 {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%; /* Ensure the button container fills the form width */
}

.form-submit-btn2 input {
  background-color: #8ED400;
  color: #ffffff; /* Darker grey for better readability */
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px; /* Slightly larger for readability */
  border-radius: 25px; /* Smooth, rounded corners */
  width: 225px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Smooth transition for visual effects */
  flex: none; /* Flex grow, flex shrink, and flex basis */
  margin: 10px auto;
  font-weight: bold;
}

.form-submit-btn2 input:hover {
  background-color: #ff7900; /* Light background on hover for contrast */
  color: #ffffff; /* Orange text color to match the border */
  border: none; /* Bright orange for visibility */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}



/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    margin-left: 0;
  }

  nav li {
    margin-bottom: 10px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content > * {
    margin-bottom: 20px;
  }

  .user-input-box {
    width: 100%;
  }
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* Allows each form to take full width on smaller screens */
  }
}

.header-container {
  display: flex;
  align-items: center; /* This will vertically align items in the container */
  gap: 20px; /* Adjust the space between the logo and the text */
}

.event-logo {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border: 2px solid #ffffff; /* Adjust color and border size as needed */
  border-radius: 10px; /* Rounded edges */
  object-fit: cover; /* This will ensure the image covers the area properly */
}