# Port number
PORT=4000

# MongoDB Atlas Connection String
MONGODB_URL=mongodb+srv://commuterchallenge:<password>@cluster0.tebilrz.mongodb.net/?retryWrites=true&w=majority


# Cloudinary Images
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=129600
JWT_REFRESH_EXPIRATION_DAYS=180