/* Form.css */

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 3px solid #747578;
  border-radius: 10px;
  background-color: #e9ebf1;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"] {
  padding: 8px;
  margin-bottom: 15px;
  width: 100%; /* Make the input fields expand to the container width */
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  font-size: 15px;
  cursor: pointer;
  background-color: #8ed400;
  color: #fff;
  border: none;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: #ff7a00; /* Darker green color on hover */
}

.CreateEventButton {
  padding: 10px 15px; /* Adjust padding to make the button smaller */
  font-size: 20px; /* Adjust font size */
  cursor: pointer;
  background-color: #8ed400;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.CreateEventButton:hover {
  background-color: #ff7a00; /* Darker green color on hover */
}

/* Styling for dropdowns (you can customize as needed) */
.DropdownContainer {
  position: relative;
  width: auto;
  margin-bottom: 20px;
  display: inline-block; /* Display inline or inline-block to position horizontally */
  margin-right: 15px; /* Add margin for spacing between dropdowns */
  padding: 5px;
}

.DropdownHeader {
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #8ed400; /* Green background color */
  color: #fff; /* White text color */
}

.DropdownHeader:hover {
  background-color: #ff7a00; /* Darker green color on hover */
}

.DropdownContent {
  position: static;
  width: auto;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

/* Optional: Add styling for checkbox labels within dropdown */
.DropdownContent label {
  display: block;
  padding: 8px;
  font-size: 30px;
}

.DropdownContent label:hover {
  background-color: #ddd; /* Lighter background color on hover */
}

/* Optional: Add styling for the checkbox itself */
.DropdownContent input {
  margin-right: 5px;
}
