/* Form.css */

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f0f0f0;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"] {
  padding: 8px;
  margin-bottom: 15px;
  width: 100%; /* Make the input fields expand to the container width */
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #8ed400;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #5c9b00; /* Darker green color on hover */
}



.CreateEventButton {
  padding: 10px 15px; /* Adjust padding to make the button smaller */
  font-size: 20px; /* Adjust font size */
  cursor: pointer;
  background-color: #8ed400;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px; /* Add margin to create space between the button and other components */
}

.CreateEventButton:hover {
  background-color: #5c9b00; /* Darker green color on hover */
}

/* Styling for dropdowns (you can customize as needed) */
.DropdownContainer {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.DropdownHeader {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #8ed400; /* Green background color */
  color: #fff; /* White text color */
}

.DropdownHeader:hover {
  background-color: #5c9b00; /* Darker green color on hover */
}

.DropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

/* Optional: Add styling for checkbox labels within dropdown */
.DropdownContent label {
  display: block;
  padding: 8px;
}

/* Optional: Add styling for the checkbox itself */
.DropdownContent input {
  margin-right: 5px;
}
