nav {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #747578;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

.flag {
  margin-left: 20px;
}

.flag img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
li:hover {
  color: #8ed400;
}
  