/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Header and Navigation Bar */
header {
  background-color: #747578; /* Navbar background color */
  text-align: center;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

nav li {
  margin-right: 50px;
  cursor: pointer;
}

nav li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: #ff7900;
}

/* Image Slider */
.image-slider {
  position: relative;
  width: 100%;
  height: 450px;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* Hide all images initially */
}

.slider-image.active {
  display: block; /* Only show the active image */
}

/* Events Section */
#eventsSection {
  background-color: white;
  text-align: left;
  padding: 20px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event img {
  max-width: 300px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.event .event-name, .event .event-dates {
  font-size: 18px;
  color: #747578;
  margin: 5px 0; /* Uniform margin for name and dates */
}

/* Event Buttons */
.action-button-event {
  background-color: transparent;
  color: #ff7900;
  border: 4px solid #ff7900;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 25px;
  width: 180px;
  text-align: center;
  margin-top: 10px;
}

.action-button-event:hover {
  color: #8ED400;
  border: 4px solid #8ED400;
}

/* Registration Section */
#commuterChallenge {
  background-color: #f7f7f7;
  text-align: left;
  padding: 20px;
}

.commuter-challenge-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.challenge-button {
  background-color: transparent;
  color: #8ED400;
  border: 4px solid #8ED400;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 25px;
  width: 225px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challenge-button:hover {
  background-color: transparent;
  color: #ff7900;
  border: 4px solid #ff7900;
}

.challenge-button i {
  margin-bottom: 5px; /* Space between icon and text */
  font-size: 30px;
}

/* Commuter Challenge Canada Section */
#commuterChallengeCanada {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 20px;
}

.challenge-canada-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-photo img {
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
  height: 300px;
}

.challenge-info {
  max-width: 300px;
}

.challenge-dropdown {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

/* Contact Form */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-photo img {
  width: 90%;
  height: 450px;
  object-fit: cover;
}

.contact-form {
  flex: 1;
  padding: 10px;
  max-width: 500px;
}

#contact {
  background-color: #f7f7f7;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #8ED400;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #ff7900;
}

/* Footer */
footer {
  background-color: #747578;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-content > * {
  flex: 1; /* Equal space distribution */
  text-align: center;
}

/* Style the links in the footer */
.footer-content a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #ff7900;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 26px;
  margin: 0 10px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button button {
  background-color: transparent;
  color: #ffffff;
  border: 4px solid #8ED400;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.footer-button button:hover {
  background-color: #ff7900;
  border-color: #ff7900;
}

.footer-logo {
  width: 50px;
  height: auto;
}

@media (max-width: 768px) {
  /* Add responsive styles here */
}
